<head>
    <link rel="stylesheet" href="./app/components/header/header.css">
</head>

<div class="container-header">

    
    <button class="hamburger-btn">
        <span></span>
        <span></span>
        <span></span>
    </button>

    <div class="logo">
        <p>QuimiLearn</p>
    </div>


    <nav>
        <ul class="nav-menu">
            <li><a href="/">Inicio</a></li>
            <li><a href="#conceptos">Conceptos</a></li>
            <li><a href="#/periodic-table/">Tabla Periódica</a></li>
            <li><a href="#experimentos">Experimentos</a></li>
        </ul>
    </nav>
</div>