<head>
    <link rel="stylesheet" href="./app/components/header/header.css">
</head>

<div class="container-header">

    <button class="hamburger-btn">
        <span></span>
        <span></span>
        <span></span>
    </button>

    <div class="logo">
        <li>
            <a class="home-btn" href="#">
                QuimiLearn
            </a>
        </li>
        <div class="line-header"></div>
    </div>

    <nav>
        <ul class="nav-menu">
            <li><a class="bg-header" href="#/experiments/">Experimentos</a></li>
            <li><a class="bg-header" href="#/periodic-table/">Tabla Periódica</a></li>
            <li><a class="bg-header" href="#/about/">Acerca</a></li>
        </ul>
    </nav>
</div>