:root {
  --primary-blue: #4169E1;
  --primary-purple: #9370DB;
  --gray-50: #F9FAFB;
  --gray-100: #F3F4F6;
  --gray-700: #374151;
  --gray-800: #1F2937;
  --gray-900: #111827;
  --gray-200: #e3d6e6;
  
}

html, body {
  height: 100%;
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mb-4 {
  margin-bottom: 4px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-16 {
  margin-bottom: 16px;
}
.pd-24 {
  padding: 24px;
}
.hg-16 {
  height: 16px;
}
.wd-16 {
  width: 16px;
}

.hidden {
  display: none !important;
}

.body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #eff6ff;
}
.main {
  flex: 1;
  background: #EFF6FF;
}

footer {
  padding: 20px;
}

.home {
  height: 100%;
  background-color: #EFF6FF;
}

.loader-container {
  height: 100vh;
}

/* Loader spinner style */
.loader {
  width: 100%;
  height: 74vh;
  display: block;
  margin: auto;
  position: relative;
  background: #FFF;
  box-sizing: border-box;
}

.loader::after {
  content: '';
  width: calc(100% - 30px);
  height: calc(100% - 15px);
  position: absolute;
  top: 15px;
  left: 15px;
  background-image: 
    linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.5) 50%, transparent 100%), /* Brillo */
    linear-gradient(#DDD 100%, transparent 0), /* Línea 1 */
    linear-gradient(#DDD 100%, transparent 0), /* Línea 2 */
    linear-gradient(#DDD 100%, transparent 0);  /* Línea 3 */
  background-repeat: no-repeat;
  background-size: 
    100px 100%,   /* Tamaño del brillo (ancho, altura) */
    100% 30%,     /* Línea 1: 85% ancho, 30% alto */
    100% 10%,      /* Línea 2: 75% ancho, 10% alto */
    100% 27%;      /* Línea 3: 60% ancho, 27% alto */
  background-position: 
    -100px 0,     /* Posición inicial brillo */
    left 10%,     /* Línea 1 */
    left 50%,     /* Línea 2 */
    left 80%;     /* Línea 3 */
  animation: animloader 1.2s linear infinite;
}

@keyframes animloader {
  to {
    background-position: 
      calc(100% + 100px) 0, /* Solo el brillo se mueve */
      left 10%,             /* Líneas fijas */
      left 50%, 
      left 80%;
  }
}

/* Media queries */
@media (max-width: 768px) {
  .hero h1 {
    font-size: 2rem;
  }

  .features-grid {
    grid-template-columns: 1fr;
  }

  .footer-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Animations */
.rotate {
  animation: rotateAnimation 2s linear infinite;
  display: inline-block;
}

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}