[role="radio"][aria-checked="true"] {
    background-color: #4CAF50;
    color: white;
}

#game-periodic-table {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: radial-gradient(circle, #ecfdf5, #e9fcfa, #e9fafe, #ebf8ff, #eff6ff);
}

.container-game-periodic-table {
    text-align: center;
    padding: 16px;
}

.header-game-periodic-table h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #047857
}

.header-game-periodic-table h3 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 32px;
    color: #047857
}

.body-game-periodic-table {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 16px;
}

.start-game-button{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    width: 115px;
    height: 55px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 50%;
    background-color: #047857;
    border: none;    
}

.start-game-button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.container-table{
    width: 100%;
    max-width: 450px;
    padding: 24px;
    background-color: #fff;
}

.table-title{
    margin-bottom: 24px;
}

.table-title-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.table-title-content h3 {
    font-size: 24px;
    font-weight: 600;
    color: #047857;
    margin-left: 10px;
}

.table-subtitle {
    text-align: start;
    font-size: 14px;
    font-weight: regular 400;
    color: #71717a;
    margin-left: 10px;
}

.timer-container {
    display: flex;
    font-size: 16px;
    font-weight: 300;
    color: #047857;
    background-color: #ecfdf5;
    padding: 2px 10px;
    border-radius: 9999px;
}

.timer{
    margin-left: 10px;
}

.table-body-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3px;
    margin-bottom: 16px;
}

.table-type-game {
    background-color: #f4f4f5;
    width: fit-content;
    padding: 3px;
    border-radius: 6px;
    margin-bottom: 16px;
}

.table-type-game-title{
    font-size: 14px;
    font-weight: 400;
    background-color: #fff;
    padding: 6px 12px;
    border-radius: 6px;
}

.table-question{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-question-symbol{
    font-size: 72px;
    min-height: 100px;
    min-width: 100px;
    padding: 16px;
    font-weight: bold;
    margin-bottom: 24px;
    color: #fff;
    background-color: #059669;
    border-radius: 12px;
}

.table-question-symbol:hover{
    background-color: #047857;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table-question-options{
    width: 100%;
}

.table-question-option{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 12px;
    cursor: pointer;
    border: #f4f4f5 solid 1px;
    border-radius: 8px;
    background-color: #fff;
    margin-bottom: 12px;
}

.table-question-option:hover{
    background-color: #ecfdf5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.checked{
    background-color: #DCFCE7;
    -webkit-box-shadow: 0px 0px 30px -6px rgba(4,120,87,0.55);
    -moz-box-shadow: 0px 0px 30px -6px rgba(4,120,87,0.55);
    box-shadow: 0px 0px 30px -6px rgba(4,120,87,0.55);
}

.wrong{
    background-color: #FEE2E2;
    -webkit-box-shadow: 0px 0px 30px -6px rgba(239,68,68,1);
    -moz-box-shadow: 0px 0px 30px -6px rgba(239,68,68,1);
    box-shadow: 0px 0px 30px -6px rgba(239,68,68,1);
}

.check-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 55px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background-color: #047857;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.check-btn:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.correct-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ecfdf5;
    border-radius: 8px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    font-size: 16px;
    color: #047857;
}

.wrong-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fee2e2;
    border-radius: 8px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    font-size: 16px;
    color: #ef4444;
}

.modal h2 {
    margin-bottom: 15px;
}

.end-dialog{
    min-width: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ecfdf5;
    border-radius: 8px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    font-size: 16px;
    color: #047857;
}

.end-dialog-title{
    text-align: center;
}

.end-dialog-text{
    margin: 10px;
}

.end-dialog-buttons{
    margin-top: 15px;
    text-align: center;
}