.experiments {
    width: 100%;
    max-width: 1400px;
    margin: auto auto;
    padding: 32px 16px;
    background-color: #EFF6FF;


}

.title-experiments {
    text-align: center;
    font-size: 30px;
    margin: 0 0 32px 0;

}

.container-experiments {
    display: grid;
    gap: 16px;
}

.experiment-background {
    background-color: #FFF;
    border-radius: 6px;
    padding: 24px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 0 0 16px 0;
}

.form-label {
    font-size: 14px;
}

.form-input {
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 14px;
    line-height: 20px;
    width: 100%;
    /* height: 40px; */
    border: 1px solid var(--primary-purple);
    outline: none;
    resize: vertical;
    min-height: 40px;
}

.form-button {
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 14px;
    line-height: 20px;
    width: 100%;
    height: 40px;
    border: 1px solid var(--primary-purple);
    outline: none;
    cursor: pointer;
    background-image: linear-gradient(to right, #2563eb, #059669);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.expermient-list {
    overflow-y: auto;
    height: 690px;
}

.list-container{
    height: 600px;
    overflow-y: scroll;
}

.experiment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 16px 0;
}

.experiment-button {
    margin-right: 16px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.experiment-name {
    font-size: 20px;
    font-weight: 600;
    color: #059669;
}

.experiment-description {
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 8px;
    color: #09090b;
}

.experiment-compunds {
    font-size: 12px;
    line-height: 16px;
    color: #09090b;
}

.experiment-text {
    font-size: 14px;
    line-height: 20px;
    color: #71717a;
}

.compound-badge {
    display: inline-block;
    margin: 2px 4px;
    padding: 4px 12px;
    background: #e3f2fd;
    border: 1px solid #90caf9;
    border-radius: 15px;
    font-size: 0.9em;
}

.compounds-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}


@media screen and (min-width: 768px) {
    .container-experiments {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    
}

.title-experiments {
    opacity: 0;
    animation-name: animation-experiments-title;
    animation-duration: 0.5s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
}

.experiment-form {
    opacity: 0;
    animation-name: animation-experiments-form;
    animation-duration: 0.5s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
}

.experiment-list {    
    opacity: 0;
    animation-name: animation-experiments-list;
    animation-duration: 0.5s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
}


/* keyframes */
@keyframes animation-experiments-title {
    0% {
        opacity: 0;
        transform: translateY(-20px); 
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes animation-experiments-form {
    0% {
        opacity: 0;
        transform: translateX(-20px); 
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes animation-experiments-list {
    0% {
        opacity: 0;
        transform: translateX(20px); 
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
    
}
