.periodic-table{
    display: flex;
    flex-direction: column;
    /* flex: 1; */
    background-color: #EFF6FF;
}
.nav-periodic-table{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 16px;
    background-image: linear-gradient(to right, #2563eb, #059669);

}

.periodic-table-title-nav{
    margin: 0 0 16px;
    color: #fff;
    font: 30px sans-serif;
    font-weight: bold;
}

.nav-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.nav-icon{
    width: 16px;
    height: 16px;
}

.initial-periodic-table{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.initial-periodic-table-content{
    max-width: 1152px;
    margin-bottom: 48px;
    padding: 24px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    border-radius: 8px;
}

.initial-periodic-table-title{
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 16px;
    color: #1f2937;
}

.initial-periodic-table-text{
    font-size: 16px;
    color: #374151;
}

.view-periodic-table{
    padding: 25px 15px;
}

.initial-periodic-table{
    animation-name: animation-home-periodic-table;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.nav-periodic-table{
    animation-name: animation-nav-periodic-table;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.game-periodic-table{
    flex: 1;
}

/* keyframes */
@keyframes animation-home-periodic-table {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    
}

@keyframes animation-nav-periodic-table {
    0% {
        opacity: 0;
        transform: translateY(-20px); 
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
    
}

.container-flask{
    display: none;
}

/* media queries */
@media screen and (min-width: 769px) {
    .nav-periodic-table{
        flex-direction: row;
        justify-content: space-between;
    }   
}

@media screen and (min-width: 900px) {
    .initial-periodic-table-content{
        max-height: 500px;
    }
    
    .container-flask{
        display: block;
        position: relative;
        bottom: 210px;
        left: 620px;
        width: 25%;
        height: 100%;
    }
    
    #flask {
        width: 197px;
        height: 230px;
        margin: 0 auto;
        margin-top: 200px;
        position: relative;
    }
    
    #flask svg {
        width: 200px;
        height: 230px;
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0
    }
    
    #flask .background {
        width: 197px;
        height: 100px;
        background-color: #5bbcfc;
        position: absolute;
        z-index: 0;
        bottom: 0;
        left: 0;
        animation: liquid 3s infinite,liquid-color 80s infinite
    }
    
    .bubble {
        width: 40px;
        height: 40px;
        background: #5bbcfc;
        border-radius: 40px;
        position: absolute;
        top: 180px
    }
    
    .b1,.b2,.b3 {
        right: 60px;
        transform: scale(.4);
        opacity: .6;
        animation: bubble 8s linear infinite,liquid-color 80s infinite,side 2s ease-in-out infinite alternate
    }
    
    .b2 {
        right: 65px;
        transform: scale(.5);
        animation-delay: 2s,0s,2s
    }
    
    .b3 {
        right: 70px;
        animation-delay: 5s,0s,5s;
        animation: bubble 10s linear infinite,liquid-color 80s infinite,side 3s ease-in-out infinite alternate
    }
    
    .b4,.b5 {
        right: 65px;
        transform: scale(.5);
        opacity: .8;
        animation: bubble 16s linear infinite,liquid-color 80s infinite,side 5s ease-in-out infinite alternate;
        animation-delay: 4s,0s,4s
    }
    
    .b5 {
        right: 55px;
        animation-delay: 5s,0s,5s
    }
    
    .b6,.b7,.b8 {
        right: 65px;
        transform: scale(.6);
        opacity: .4;
        animation: bubble 14s linear infinite,liquid-color 80s infinite,side 3s ease-in-out infinite alternate;
        animation-delay: 9s,0s,9s
    }
    
    .b7 {
        right: 70px;
        transform: scale(.7);
        animation-delay: 3s,0s,3s
    }
    
    .b8 {
        right: 65px;
        animation-delay: 7s,0s,7s
    }
    
    .b0,.b9 {
        right: 70px;
        transform: scale(.65);
        opacity: .7;
        animation: bubble 20s linear infinite,liquid-color 80s infinite,side 5s ease-in-out infinite alternate
    }
    
    .b0 {
        right: 60px;
        animation-delay: 13s,0s,13s
    }
    
    .swirl {
        width: 20px;
        height: 20px;
        background: #5bbcfc;
        border-radius: 20px;
        position: absolute;
        top: 140px;
        left: 80px
    }
    
    .s0 {
        animation: liquid-color 80s infinite,swirl 1s ease-in-out infinite alternate
    }
    
    .s1 {
        left: 100px;
        transform: scale(1.2);
        animation: liquid-color 80s infinite,swirl 2s ease-in-out infinite alternate;
        animation-delay: 0s,2s
    }
    
    .s2 {
        left: 40px;
        transform: scale(.8);
        animation: liquid-color 80s infinite,swirl 2s ease-in-out infinite alternate;
        animation-delay: 0s,3s
    }
    
    .s3 {
        left: 60px;
        transform: scale(1.4);
        animation: liquid-color 80s infinite,swirl 1s ease-in-out infinite alternate;
        animation-delay: 0s,5s
    }
    
    .s4 {
        left: 120px;
        animation: liquid-color 80s infinite,swirl 2s ease-in-out infinite alternate;
        animation-delay: 0s,3s
    }
    
    .s5 {
        left: 135px;
        transform: scale(.8);
        animation: liquid-color 80s infinite,swirl 1s ease-in-out infinite alternate;
        animation-delay: 0s,2s
    }
    
    @-moz-keyframes liquid {
        0% {
            height: 100px
        }
    
        10% {
            height: 97px
        }
    
        35% {
            height: 100px
        }
    
        50% {
            height: 102px
        }
    
        80% {
            height: 98px
        }
    
        100% {
            height: 100px
        }
    }
    
    @-webkit-keyframes liquid {
        0% {
            height: 100px
        }
    
        10% {
            height: 97px
        }
    
        35% {
            height: 100px
        }
    
        50% {
            height: 102px
        }
    
        80% {
            height: 98px
        }
    
        100% {
            height: 100px
        }
    }
    
    @-o-keyframes liquid {
        0% {
            height: 100px
        }
    
        10% {
            height: 97px
        }
    
        35% {
            height: 100px
        }
    
        50% {
            height: 102px
        }
    
        80% {
            height: 98px
        }
    
        100% {
            height: 100px
        }
    }
    
    @keyframes liquid {
        0% {
            height: 100px
        }
    
        10% {
            height: 97px
        }
    
        35% {
            height: 100px
        }
    
        50% {
            height: 102px
        }
    
        80% {
            height: 98px
        }
    
        100% {
            height: 100px
        }
    }
    
    @-moz-keyframes liquid-color {
        from {
            -webkit-filter: hue-rotate(-360deg)
        }
    
        to {
            -webkit-filter: hue-rotate(0)
        }
    }
    
    @-webkit-keyframes liquid-color {
        from {
            -webkit-filter: hue-rotate(-360deg)
        }
    
        to {
            -webkit-filter: hue-rotate(0)
        }
    }
    
    @-o-keyframes liquid-color {
        from {
            -webkit-filter: hue-rotate(-360deg)
        }
    
        to {
            -webkit-filter: hue-rotate(0)
        }
    }
    
    @keyframes liquid-color {
        from {
            -webkit-filter: hue-rotate(-360deg)
        }
    
        to {
            -webkit-filter: hue-rotate(0)
        }
    }
    
    @-moz-keyframes bubble {
        0% {
            top: 200px
        }
    
        100% {
            top: -200px;
            opacity: 0
        }
    }
    
    @-webkit-keyframes bubble {
        0% {
            top: 200px
        }
    
        100% {
            top: -200px;
            opacity: 0
        }
    }
    
    @-o-keyframes bubble {
        0% {
            top: 200px
        }
    
        100% {
            top: -200px;
            opacity: 0
        }
    }
    
    @keyframes bubble {
        0% {
            top: 200px
        }
    
        100% {
            top: -200px;
            opacity: 0
        }
    }
    
    @-moz-keyframes side {
        0% {
            margin-right: 0
        }
    
        100% {
            margin-right: 35px
        }
    }
    
    @-webkit-keyframes side {
        0% {
            margin-right: 0
        }
    
        100% {
            margin-right: 35px
        }
    }
    
    @-o-keyframes side {
        0% {
            margin-right: 0
        }
    
        100% {
            margin-right: 35px
        }
    }
    
    @keyframes side {
        0% {
            margin-right: 0
        }
    
        100% {
            margin-right: 35px
        }
    }
    
    @-moz-keyframes swirl {
        0% {
            top: 140px
        }
    
        100% {
            top: 128px
        }
    }
    
    @-webkit-keyframes swirl {
        0% {
            top: 140px
        }
    
        100% {
            top: 128px
        }
    }
    
    @-o-keyframes swirl {
        0% {
            top: 140px
        }
    
        100% {
            top: 128px
        }
    }
    
    @keyframes swirl {
        0% {
            top: 140px
        }
    
        100% {
            top: 128px
        }
    }
}

@media screen and (min-width: 1000px) {
    .container-flask{
        bottom: 200px;
        left: 670px;
    }
}

@media screen and (min-width: 1050px) {
    .container-flask{
        bottom: 190px;
        left: 750px;
    }  
}

@media screen and (min-width: 1170px) {
    .container-flask{
        bottom: 180px;
        left: 850px;
    }
}