.periodic-table{
    background-color: #EFF6FF;
    height: 100%;
}
.nav-periodic-table{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 16px;
    background-image: linear-gradient(to right, #2563eb, #059669);

}

.periodic-table-title-nav{
    margin: 0 0 16px;
    color: #fff;
    font: 30px sans-serif;
    font-weight: bold;
}

.nav-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.nav-icon{
    width: 16px;
    height: 16px;
}

.initial-periodic-table{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.initial-periodic-table-content{
    max-width: 1152px;
    margin-bottom: 48px;
    padding: 24px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    border-radius: 8px;
}

.initial-periodic-table-title{
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 16px;
    color: #1f2937;
}

.initial-periodic-table-text{
    font-size: 16px;
    color: #374151;
}

.view-periodic-table{
    padding: 25px 15px;
}

.initial-periodic-table{
    animation-name: animation-home-periodic-table;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.nav-periodic-table{
    animation-name: animation-nav-periodic-table;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

/* keyframes */
@keyframes animation-home-periodic-table {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    
}

@keyframes animation-nav-periodic-table {
    0% {
        opacity: 0;
        transform: translateY(-20px); 
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
    
}

/* media queries */

@media screen and (min-width: 769px) {
    .nav-periodic-table{
        flex-direction: row;
        justify-content: space-between;
    }
    
}